#mySidebar{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 30px 0 0;
    background-color: rgb(29, 29, 29);
    width: 240px;
    z-index: 999999999;
    overflow: hidden;
    
}
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
    background-color: #ffffff;
    color: #000000;
}

.service-item:hover {
    background: black;
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: white;


}
